{% extends 'base/base.html' %}

{% block content %}

<div class="index-container-b">
    <div class="news-container">
        <h2 class="titulo">Agregar producto</h2>
        <form id="create-product" action="POST">
            <input type="hidden" id="csrf_token" value="{{csrf_token}}" />
            <div class="form-container">
                <label for="name" class="create-label">Nombre del producto</label>
                <br>
                <input type="text" placeholder="Nombre del producto" name="name" required>
            </div>
            <div class="form-container">
                <label for="precio" class="create-label">Precio</label>
                <br>
                <input type="text" placeholder="Precio" name="precio" required>
            </div>
            <div class="form-container">
                <label for="localidades_id" class="create-label">Localidad</label>
                <br>
                <select name="localidades_id" id="" required>
                    {% for item in Localidades %}
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <div class="extra-container">
            <button class="add-product-button">Agregar</button>
        </div>
    </div>

    <div class="news-container">
        <h2 class="titulo">Reglas</h2>
        <p class="rules">Ningun campo debe de quedar vacio</p>
        <p class="rules">Mostrar mensaje de guardado o error en caso de fallar</p>
        <p class="rules">El envio de informacion debe ser por medio del metodo FETCH de JS</p>
        <p class="rules">El boton "Eliminar" debera de hacerse por medio del metodo FETCH de JS</p>
        <p class="rules">El precio del producto debe ser mayor a 0</p>
        <p class="rules">Solo se pueden agregar 10 productos por dia</p>
    </div>
</div>


<div class="results">
    <p id="create-success">Producto agregado con exito</p>
    <p id="create-error">Error, no se pudo agregar el producto: <span id="create-error-msg"></span></p>
    <p id="delete-success">Producto eliminado con exito</p>
    <p id="delete-error">Error, no se pudo eliminar el producto: <span id="delete-error-msg"></span></p>
</div>


<h1>Productos recientemente agregados</h1>
<div class="container">
    <table class="create-table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Localidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="recent-products">
            {% for item in Producto %}
            <tr id="Producto-{{item.id}}">
                <th scope="row">{{item.name}}</th>
                <td>{{item.precio}}</td>
                <td>{{item.localidades_id.name}}</td>
                <td><button onclick="productoDelete({{item.id}})" id="deleted-producto-{{item.id}}" class="delete-button">Eliminar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

{% block scripts %}
<script>
    const EVENTO_CREATE_URL = "{% url 'productoCreateByFetch' %}"
    const EVENTO_DELETE_URL = "{% url 'productoDeleteByFetch' %}"
</script>

{% load static %}
<script src="{% static 'js/productos.js' %}"></script>

{% endblock %}