{% extends 'base/base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/examen.css' %}">
{% endblock %}

{% block content %}

<h1 class="titulo">Productos</h1>

<div class="add-holder">
    <a class="add-event-a" href="{% url 'productos_create' %}">Agregar producto</a>   
</div>

<div class="container">
    {% for item in Producto %}

    {% include 'components/productCard.html' with name=item.name precio=item.precio localidad=item.localidades_id.name %}

    {% endfor %}

</div>
{% endblock %}