{% extends 'base/base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/examen.css' %}">
{% endblock %}

{% block content %}

<h1 class="titulo">Productos</h1>

<div class="container">
    {% for item in Producto %}

    <div class="user_card_container">
        <div>
            <p>Producto</p>
            {% load static %}
            <img class="foto" src="{% static 'img/producto.jpg' %}" alt="">
        </div>
        <div>
            <p><strong>Nombre</strong> <br> {{item.name}}</p>
            <p><strong>Precio</strong> <br> {{item.precio}}</p>
            <p><strong>Localidad</strong> <br> {{item.localidades_id.name}}</p>
        </div>
    </div>

    {% endfor %}

</div>
{% endblock %}