<nav style="text-align: center; padding: 20px; background-color: #15ff00; margin-bottom: 25px;">
    <div class="container mx-auto flex justify-between items-center" style="display: flex; flex-direction: row; align-items: center; padding-left: 5rem;">
        <a href="/examen/" class="Nav-Title" style="text-align: left; padding-left: 20px;">Index</a>
        <div class="Link-Container" style="display: flex; gap: 45px; margin-left: auto; padding-right: 5rem;">
            <a href="{% url 'eventos' %}" class="Nav-Link">Eventos</a>
            <a href="{% url 'boletos' %}" class="Nav-Link">Boletos</a>
            <a href="{% url 'productos' %}" class="Nav-Link">Productos</a>
        </div>
    </div>
</nav>