.background {
    color: blue;
    background-color: blue;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerLogin {
    border: 1px red solid;
    min-width: 50rem;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: black;
    color: white;
}

.containerLogin h3 {
    text-align: justify;
    padding: 10px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}

.formLogin div {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLogin div input {
    padding: 15px;
    width: 85%;
    margin: auto;
}

.login-button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: red;
    border: 1px solid red;
    color: white;
}