.product-list-item {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    /* border: 1px red solid; */
}

.product-image {
    width: 35%;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-details {
    width: 65%;
    padding: 10px;
}

.product-details h4 {
    font-weight: bold;
    text-align: justify;
    font-size: 25px;
}

.product-details p {
    text-align: justify;
    font-size: 15px;
}

.no-product {
    display: flex;
    justify-content: center;
    color: red;
}

.cartProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    row-gap: 1rem;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    border: 1px red solid; 
    padding: 15px;
}

.cartProduct img {
    height: 35%;
    width: 35%;
}