.properties {
  color: "#f0f0f0";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-grow: 1;
  padding: 30px;
}

@media (max-width: 1024px) {
  .properties {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 640px) {
  .properties {
    grid-template-columns: 1fr; 
  }
}

