{% extends 'base/base.html' %}

{% block content %}

<div class="index-container">
    {% load static %}
    <img class="index-foto-top1" src="{% static 'img/carn2.jpg' %}" alt="">
    <img class="index-foto-top1" src="{% static 'img/carn4.jpg' %}" alt="">
</div>
<div class="index-container">
    {% load static %}
    <img class="index-foto-top2" src="{% static 'img/carn1.jpg' %}" alt="">
    <img class="index-foto-top2" src="{% static 'img/carn3.jpg' %}" alt="">
    <img class="index-foto-top2-1" src="{% static 'img/carn5.jpg' %}" alt="">
</div>

<h1 class="titulo">Noticias</h1>

<div class="index-container-b">
 <div class="news-container">
    <div class="news-container1">
        <img class="index-foto-btm" src="{% static 'img/carn6.jpg' %}" alt="">
        <p class="news-title">Noticia</p>
        <p class="news-descripcion"><strong>Descripcion: </strong> Lorem ipsum dolor sit amet  consectetur, adipisicing elit. Facilis non cum illum dolores nihil nostrum voluptas aperiam mollitia, odio saepe inventore dolorum magnam eum hic iure optio ratione ipsum ducimus.</p>
    </div>
    <div class="news-container1">
        <img class="index-foto-btm" src="{% static 'img/carn6.jpg' %}" alt="">
        <p class="news-title">Noticia</p>
        <p class="news-descripcion"><strong>Descripcion: </strong> Lorem ipsum dolor sit amet  consectetur, adipisicing elit. Facilis non cum illum dolores nihil nostrum voluptas aperiam mollitia, odio saepe inventore dolorum magnam eum hic iure optio ratione ipsum ducimus.</p>
    </div>
 </div>

 <div class="news-container">
    <div class="news-container2">
        <div class="event-image">
            <img src="{% static 'img/evento.jpg' %}" alt="Evento">
        </div>
        <div class="event-details">
            <p class="news-title2">Evento #1</p>
            <p class="news-descripcion"><strong>Localidad: </strong> </p>
            <p class="news-descripcion"><strong>Descripcion: </strong> Lorem ipsum dolor sit amet  consectetur, adipisicing elit. Facilis non cum illum dolores nihil nostrum voluptas aperiam mollitia, odio saepe inventore dolorum magnam eum hic iure optio ratione ipsum ducimus.</p>
        </div>
    </div>

    <div class="news-container2">
        <div class="event-image">
            <img src="{% static 'img/evento.jpg' %}" alt="Evento">
        </div>
        <div class="event-details">
            <p class="news-title2">Evento #1</p>
            <p class="news-descripcion"><strong>Localidad: </strong> </p>
            <p class="news-descripcion"><strong>Descripcion: </strong> Lorem ipsum dolor sit amet  consectetur, adipisicing elit. Facilis non cum illum dolores nihil nostrum voluptas aperiam mollitia, odio saepe inventore dolorum magnam eum hic iure optio ratione ipsum ducimus.</p>
        </div>
    </div>

    <div class="news-container2">
        <div class="event-image">
            <img src="{% static 'img/evento.jpg' %}" alt="Evento">
        </div>
        <div class="event-details">
            <p class="news-title2">Evento #1</p>
            <p class="news-descripcion"><strong>Localidad: </strong> </p>
            <p class="news-descripcion"><strong>Descripcion: </strong> Lorem ipsum dolor sit amet  consectetur, adipisicing elit. Facilis non cum illum dolores nihil nostrum voluptas aperiam mollitia, odio saepe inventore dolorum magnam eum hic iure optio ratione ipsum ducimus.</p>
        </div>
    </div>
 </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}