{% extends 'base/base.html' %}

{% block content %}

<div class="Main-Container">
    <div class="Title-Container">
        <h1 class="Main-Title">Bienvenido la pagina de eventos!</h1>
        <p>Aqui puedes enterarte de todos los ventos que estan sucediendo en tu localidad, sus boletos y los productos que participaran!</p>
    </div>
    <div>
        <h2 class="Sec-Title">En esta pagina puedes:</h2>
        <div class="Multi-Container">
            <div class="Feature-Container">
                <h3 class="Feature">Ver los productos disponibles</h3>
            </div>
            <div class="Feature-Container">
                <h3 class="Feature">Ver los eventos que estan sucediendo</h3>
            </div>
            <div class="Feature-Container">
                <h3 class="Feature">Ver informacion de los boletos</h3>
            </div>
        </div>
    </div>
    {% load static %}
    <div class="Multi-Container">
        <div></div>
        <a href="{% url 'productos' %}" class="btn1">
            Lista de Productos
        </a>
        <a href="{% url 'eventos' %}" class="btn2">
            Lista de Eventos
        </a>
        <a href="{% url 'boletos' %}" class="btn2">
            Lista de Boletos
        </a>
    </div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}