<div class="event-container">
    <div class="event-image">
        {% load static %}
        <img src="{% static 'img/evento.jpg' %}" alt="Evento">
    </div>
    <div class="event-details">
        <p class="event-title">Evento {{id}}</p>
        <p><strong>Localidad: </strong> {{name}}</p>
        <p class="descripcion"><strong>Descripcion: </strong> Lorem ipsum dolor sit amet  consectetur, adipisicing elit. Facilis non cum illum dolores nihil nostrum voluptas aperiam mollitia, odio saepe inventore dolorum magnam eum hic iure optio ratione ipsum ducimus.</p>
        <button class="evento-button">Boletos</button>
    </div>
</div>